body{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:aliceblue;
}
#wrapper{width: 60%; margin: auto; background-color:white;
    border: 2px solid blue; margin-top: 20px; padding: 0 20px;box-shadow: 2px 2px lightgray;}
#wrapper h1{text-align: left; text-transform: uppercase; color: blue;
   font-size: 18pt;}

.container{display: flex; padding: 10px; justify-content: space-between;
align-items: stretch;column-gap: 80px; margin-bottom: 30px;}
.item {
    flex-grow: 1; /* default 0 */
  }

label{width: 150px;text-align: left; float: left;margin-bottom: 5px;}
input[type="text"] {margin-bottom: 10px; height: 25px; width: 100%; float: left;}

button { padding: 5px; margin: 10px auto; width: 100%;}
button:hover{font-weight: bold;}

#tasklist{
    border: 1px solid gray; width: 100%; min-width: 350px; min-height: 130px; float: left; display: block;
}
